body{
    background-color: rgb(168, 36, 39);
    font-family: roboto, sans-serif;
}

#wrapper {
    background-image: url(Poulet_musclé.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
}

a{text-decoration: none; color:rgb(0, 0, 0);}

a:hover{text-decoration: underline;}

body>header{
    background-color: rgb(255, 255, 255);
    display:flex;
    width:80em;
    margin:0 auto 2em auto;    
    padding:0;

}
body>header img{
    height: 110px;
    padding: 10px;
}
body>header #menu {
    display:flex;
    width:50%;
    align-items: stretch;
    border-left: 1px solid #99b;
}
body>header #menu a{
    flex:1;    
    text-align: center;
    border-right: 1px solid #99b;
    padding-top: 3em;
}
body>header a:hover
{
    text-decoration: none;
    background-color: rgba(168, 36, 39,0.5);
}
body>header ul{list-style: none;}
body>header #user
{
    margin-left: auto;
    flex:0.2;
    border-left: 1px solid #99b;
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:3em 0;
    width:100%;
}
body>header #user ul{ 
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-5em;
    background-color: rgb(255, 255, 255);
    border: 1px solid #99b;

    z-index: 1;
}
body>header #user ul li a{
    display:block;
    width:10em;
    padding:1em;
    border-bottom: 1px solid #99b;
}
body>header #user:hover ul{
    display:block;
}




#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 0 auto;
}
#wrapper aside{
    background-color: #fff;
    flex:1;
    padding:1em;
    border-radius: 1em;    
}
#wrapper aside img{
    display: block;
    width:60%;
    margin:auto;
    border-radius:50%;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 85vh;
    overflow-y:  scroll;
    display:flex;
    flex-direction: column;
}

#wrapper main #new-post {
    width: fit-content;
    align-self: center;
    background: rgba(0,0,0,0.5);
    background-image: url(Poulet_musclé.png);
    background-size: contain;
}

#new-post form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

textarea {
    width: 500px;
    height: 100px;
    background-color: rgba(255,255,255,0.6);
}

textarea:focus {
    background-color: rgba(255,255,255,0.9);

}

#new-post label {
    align-self: start;
    color: beige;
}

#new-post [type="submit"] {
    align-self: end;
}

small span {
    font-size: 18px;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;

}

small span:hover {
    text-shadow: 1px 1px 3px black;
}

#wrapper main article{
    background-color: rgba(255,255,255);
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
    border-radius: 50%;
}

pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;}

#poulet{
    width: 50px;
    height: 50px;
}
